body
{
	font-family:Calibri Light;
	color:black;
	background-color:yellow;
	font-size:20px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
a.anc
{
	font-family:comic sans MS, arial;
	font-size:15px;
	color:#aa0808;
	margin-left:20px;
}
a.anc:hover
{
	color:#23c5f6;
	font-family:comic sans MS, arial, arial black;
	font-size:15px;
	font-style:italic;
}
table
{
	border:6px solid #23c5f6;
	margin-left:auto;
    margin-right:auto;
}
a
{
	color:black;
}
a:hover
{
	color:#0781a6;
}
header
	{
		margin-left:auto;
		margin-right:auto;
	}
.btn
  {
    display:inline-block;
    padding:6px 12px;
    font-size:14px;
    font-weight:bold;
    line-height:1.5;
    text-align:center;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border-radius:5px;
    background-color:#580404;
    border:2.5px solid #580404;
  }
.btn:hover
  {
    font-size:14px;
    color:#23c5f6;
    background-color:#ff0;
    border:2.5px solid #540404;
  }
.btn:active
  {
    font-size:14px;
    color:#580404;
    background-color:#ff0;
    border:2.5px solid #580404;
  }
.caret
  {
    display:inline-block;
    margin-left:2px;
    vertical-align:middle;
    border-top:4px dashed;
    border-right:4px solid transparent;
    border-left:4px solid transparent;
  }
.dropdown1
  {
    position:relative;
    float:left;
    left:90px;
    top:15px;
  }
.dropdown2
  {
    position:relative;
    float:left;
    left:105px;
    top:15px;
  }
.dropdown3
  {
    position:relative;
    float:left;
    left:120px;
    top:15px;
  }
.dropdown4
  {
    position:relative;
    float:left;
    left:135px;
    top:15px;
  }
.dropdown-menu
  {
    position:absolute;
    left:60%;
    z-index:1000;
    display:none;
    min-width:160px;
    padding:5px 0;
    margin:2px 0 0;
    font-size:14px;
    text-align:left;
    list-style:none;
    background-color:#23c5f6;
    border:1px solid #0ab6eb;
    border-radius:4px;
    box-shadow:5px 5px 5px #23c5f6;
  }
.dropdown-menu>li>a
  {
    display:block;
    padding:3px 20px;
    clear:both;
    font-weight:450;
    line-height:1.5;
    color:#000;
  }
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
  {
    color:#000;
    background-color:#54d2f8;
  }
.open>.dropdown-menu
  {
    display:block;
  }